#:schema https://jj-vcs.github.io/jj/latest/config-schema.json

# References
# - [Steve's Jujutsu Tutorial](https://steveklabnik.github.io/jujutsu-tutorial/)
# - [thoughtpolice/jjconfig.toml](https://gist.github.com/thoughtpolice/8f2fd36ae17cd11b8e7bd93a70e31ad6)
# - [zerowidth's jj tips and tricks](https://zerowidth.com/2025/jj-tips-and-tricks/)

[user]
name = "Daniel Gao"
email = "daniel.gao.work@gmail.com"

[ui]
default-command = "lc"

diff-formatter = ":git"
diff-editor = "gitpatch"  # See [merge-tools.gitpatch]
merge-editor = ":builtin"

pager=["delta", "--pager", "less -FRX"]

# These options allow for `jj diff` and `jj show` to clear the output from the
# terminal after closing the pager
[[--scope]]
--when.commands = ["diff", "show"]

[--scope.ui]
pager = "delta"

# Use a familiar interactive diff picker like that of git add -p
[merge-tools.gitpatch]
program = "sh"
edit-args = ["-c", '''
  set -eu
  rm -f "$right/JJ-INSTRUCTIONS"
  git -C "$left" init -q
  git -C "$left" add -A
  git -C "$left" commit -q -m baseline --allow-empty
  mv "$left/.git" "$right"
  git -C "$right" add --intent-to-add --ignore-removal .
  git -C "$right" add -p
  git -C "$right" diff-index --quiet --cached HEAD && { echo "No changes done, aborting split."; exit 1; }
  git -C "$right" commit -q -m split
  git -C "$right" reset -q --hard
'''
]

[signing]
# Sign commits only on push to git
# Note: This only works when the underlying VCS is git-based.
behavior = "drop"
backend = "gpg"
# Replace with actual signing key
signingkey = "DEADBEEF"

[git]
private-commits = "blacklist()"
# Sign commits only on push to git
sign-on-push = true

[revset-aliases]
"user(x)" = "author(x) | committer(x)"

# Useful to ignore this, in many repos. For repos like `jj` these are
# consistently populated with a bunch of auto-generated commits, so ignoring it
# is often nice.
"gh_pages()" = "ancestors(remote_bookmarks(exact:\"gh-pages\"))"

# Private and WIP commits that should never be pushed anywhere. Often part of
# work-in-progress merge stacks.
"wip()" = "description(glob:\"wip:*\")"
"private()" = "description(glob:\"private:*\")"
"blacklist()" = "wip() | private()"

# stack(x, n) is the set of mutable commits reachable from "x", with "n"
# parents. "n" is often useful to customize the display and return set for
# certain operations. "x" can be used to target the set of "roots" to traverse,
# e.g. @ is the current stack.
"stack()" = "stack(@)"
"stack(x)" = "stack(x, 2)"
"stack(x, n)" = "ancestors(reachable(x, mutable()), n)"

"base(x)" = "fork_point(x | trunk())"
"closest_bookmark(to)" = "heads(::to & bookmarks())"

[aliases]
bcb = ["bookmark", "create", "-r", "@-"]

d = ["describe"]
dm = ["describe", "-m"]

e = ["edit"]
en = ["next", "--edit"]

# Show current work and all remote bookmarks in short form
l = ["log", "-r", "@ | ancestors(remote_bookmarks().., 2) | trunk()"]
# Show all my current stacks of work
lc = ["log", "-r", "@ | stack(mine() | @) | trunk()"]
# Show ancestry path to trunk
la = ["log", "-r", "base(@)::@ | trunk()"]
laa = ["log", "-r", "base(@)::@ | stack(heads(descendants(base(@)::@))) | base(@)::trunk()"]
# Show trunk
lt = ["log", "-r", "::trunk()"]

n = ["new"]
nb = ["new", "-B", "@"]

r = ["rebase"]

s = ["squash"]
si = ["squash", "-i"]

cat = ["file", "show"]
credit = ["file", "annotate"]
tug = ["bookmark", "move", "--from", "closest_bookmark(@-)", "--to", "@-"]

# git aliases
gf = ["git", "fetch"]
gpc = ["git", "push", "--change"]
gpb = ["git", "push", "--bookmark"]
sync = ["git", "fetch", "--all-remotes"]

[templates]
git_push_bookmark = "'digitalcarp/push-' ++ change_id.short()"
